*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.welcomeMsg h2 span{
    color: rgb(121, 100, 6);
}
.welcomeMsg p{
    background: rgba(27, 26, 26, 0.733);
    margin-top: 20px;
}
.welcomeMsg .welcomeMsgHero .PEC{
    font-size: 1.5rem;
    color: whitesmoke;
}
/* header{
    background-image:url(pics/PEC\ SA\ img10.jpeg);
    background-position: center;
    background-size: cover;
} */
.shadowP{
    /* box-shadow: 1px 2px 1px 2px black; */
    text-shadow: 2px 2px black;
}
.intEduH2,#warsawH3,#WyzszaH3{
    text-shadow: 2px 2px black;
}
.ServicesHero,.subjects-offered{
    font-family: cursive;
    text-shadow: 1px 2px rgb(179, 170, 170);
}
.international-schools{
    font-family: cursive;
    /* background-color: black; */
}

.blockMenu{
    width: 400px;
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.705);
    color: wheat;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
    z-index: 100;
}
.blockMenu li{
    margin: 10px 0px;
    width: fit-content;
    background: none;
    font-size: 20px;
}
.blockMenu li:hover{
    text-decoration: underline;
    transition: 0.5s;
}

header.header{
    background-color: rgba(0, 0, 0, 0.664);
    height: 100vh;
    background-image: url(pics/hallowed-mount.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: slide 25s infinite ease-in-out;
    
}
@keyframes slide{
    0%{
        background-image: url(pics/Passport-Loggage.jpg);
    }
    20%{
        background-image: url(pics/Passport-1.jpg);
    }
    40%{
        background-image: url(pics/light-bulb-girl.jpg);
    }
    60%{
        background-image: url(pics/office-meeting.jpg);
    }
    80%{
        background-image: url(pics/globe-1.jpg);
    }
    100%{
        background-image: url(pics/handOnMap.jpg);
    }
    /* 120%{
        background-image: url(pics/crafts-man.jpg);
    }
    140%{
        background-image: url(pics/graduation-1.jpg);
    }
    160%{
        background-image: url(pics/girl-globe.jpg);
    }
    180%{
        background-image: url(pics/hallowed-mount.jpg);
    }
    200%{
        background-image: url(pics/teacher-students-3.jpg);
    } */
}
header.studyAbroadHeader{
    animation: studyAbroadSlide 18s infinite;
    animation-timing-function: linear;
}
@keyframes studyAbroadSlide{
    0%{
        background-image: url(pics/graduation-1.jpg);
    }
    20%{
        background-image: url(pics/warsaw\ 5.jpeg);
    }
    40%{
        background-image: url(pics/warsaw\ 2.jpeg);
    }
    60%{
        background-image: url(pics/office-meeting.jpg);
    }
    80%{
        background-image: url(pics/crafts-man.jpg);
    }
    100%{
        background-image: url(pics/graduation-1.jpg);
    }
}
@media screen and (max-width:400px) {
    .header{
        background-image: url("pics/hallowed-mount.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
ul .dropDown:hover > ul{
    display: initial;
}
.options > ul{
    margin: auto;
}
.options > ul li{
    font-weight: bold;
    margin: 0 10px;
    background: wheat;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 0 15px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.7);
    transition: .3s ease;
    z-index: 10 ;
    text-transform: capitalize;
    font-size: 13px;
}
.options > ul li:hover{
    background: rgb(46, 45, 45);
    color: wheat;
}
.options > ul li ul{
    position: absolute;
    right: 15px;
    top: 25px;
    width: 200px;
    left: 30px;
    display: none;
    background: rgb(197, 178, 142);
    border-radius: 10px;
}
li.exams-dropDown > ul{
    width: 150px !important;
}

/* MEDIA SCREEN AREA */

@media screen and (max-width:640px) {
    .options > ul li ul{
        top: 20px;
    }
    li.exams-dropDown > ul{
        width: 150px !important;
        left: 20px !important;
    }
    .options > ul .dropDown ul{
        width: 200px;
        left: 20px;
    }
}
.options > ul li span{
    font-size: 1em;
}
.options > ul .dropDown{
    position: relative;
    transition: .3s ease;
}
.options > ul .dropDown:hover > ul{
    display: initial;
    color: black;
    transition: .5s ease;
}
.exams-dropDown ul{
    width: 150px;
}


@media  screen and (max-width:885px) {
    nav .blogNavUl{
        display: none;
    }
    nav .blogMenuBtn{
        display: flex;
        color: black;
    }
    nav .blogExitMenuBtn{
        display: flex;
    }
}